body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
}

.instagram-link {
    display: inline-flex;
    align-items: center;
    font-size: 30px; /* Increased font size */
    margin: 20px;
    text-decoration: none;
    color: #E1306C; /* Instagram red color */
    font-weight: bold;
}

.instagram-link i {
    margin-left: 10px; /* Adds a little space between the text and the icon */
    font-size: 35px; /* Increase the icon size */
}

.folders {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.folder {
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}
